/*

Theme Name: Tema Mockup de ejmeplo
Theme URI: --
Author: Agencia de comunicaciones integrales GVB
Author URI: http://grupovideobase.co/
Description: Este mockup cuenta con todos los archivos necesarios para comenzar cualquier proyecto, para personalizar solo se debe copiar - pegar -personalizar ;
Version: 1.0;
Tags: Copiar Arrchivos, Pegar en carpeta de proyecto , personalizar;

*/

main {
    position: relative;
    overflow: hidden; 
    background: #d62027;
    background: -moz-radial-gradient(center, ellipse cover, #d62027 27%, #a51515 100%);
    background: -webkit-radial-gradient(center, ellipse cover, #d62027 27%,#a51515 100%);
    background: radial-gradient(ellipse at center, #d62027 27%,#a51515 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d62027', endColorstr='#a51515',GradientType=1 );
}

.banner{
	width: 100%;
	height: auto;
	text-align: center;
	position: relative;
}
.redes-sociales {
    position: absolute;
    z-index: 10;
    top: 1%;
    right: 1%;
    width: auto;
    text-align: right;
    max-width: 180px;
}
a.red-social {
    display: inline-block;
    padding: 0% 5px;
}
h4, .h4 {
    font-size: 16px;
}
.logo {
    width: 25%;
    margin: 0% auto;
    padding: 1% 0%;
    position: relative;
    z-index: 5;
}
	.logo img{
		width: 100%;
	}
.logo-flamingo {
    position: absolute;
    z-index: 10;
    top: 30%;
    right: 1%;
}  
  .logo-flamingo img{
    width: 100%;
  }
.banner-fondo {
    background: url(img/header-fondo-diagonal.png) center top no-repeat;
    background-size: 100%;
    width: 100%;
    height: 187px;
    position: absolute;
    top: 0%;
    z-index: 1;
}
.dropdown {
    width: 35%;
    margin: 5% auto;
    cursor: pointer;
}
.dropdown img{
    margin: 0% auto;
}
.cat , .prod{
    position: relative;
    z-index: 10;
}
    .prod{
        margin-top: 5%;
    }
.cat-cont {
    text-align: center;
}
.prod-cont{
    text-align: left;
}
.cat-prod , .prod-prod{
    float: none;
    width: 24%;
    display: inline-block;
    vertical-align: top;
    margin: 2% auto;
    cursor: pointer;
}
.prod-prod {
    width: 15%;
    margin: 2%;
}
    .prod-prod h4{
      text-transform: uppercase;
      text-align: center;
    }
    .prod-prod .prod-img{
        width: 100%;
        border: 5px solid rgba(208, 30, 37, 0.6); 
    }
    .prod-info {
        color: #FFF;
        margin-top: 1%;
        font-size: 15px;
        -webkit-font-smoothing: antialiased;
        padding-left: 5px;
    }

.cat-prod{
    text-align: center;
}
.prod-prod .prod-img , .cat-prod img{
  margin: 0% auto;
}
.footer-close{
    background: url('img/separador-footer.png') center bottom no-repeat;
    background-size: 100%;
    width: 100%;
    position: relative;
    z-index: 5;        
}
.footer {
    background: #b9191c;
    padding: 1% 0%;
    text-align: center;
    position: relative;
    z-index: 5;    
}
.container-logos{
    
}
.logos-aliados{

}
.footer a {
    color: #FFFFFF;
    -webkit-font-smoothing: antialiased;
    font-size: 15px;
}
.porcentaje-1, .porcentaje-2, .burbujas-1, .burbujas-2{
    position: absolute;
    opacity: 0.5;
}
.porcentaje-1 {
    bottom: 0;
    left: 1%;
    -ms-transform: rotate(7deg);
    -webkit-transform: rotate(7deg);
    transform: rotate(7deg);
}
.porcentaje-2 {
    top: 0;
    right: 1%;
    -ms-transform: rotate(-7deg);
    -webkit-transform: rotate(-7deg);
    transform: rotate(-7deg);
}
.burbujas-1 {
    bottom: 0;
    right: 1%;
    -ms-transform: rotate(-3deg);
    -webkit-transform: rotate(-3deg);
    transform: rotate(-3deg);
}
.burbujas-2 {
    top: 0;
    left: 1%;
    -ms-transform: rotate(2deg);
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
}
.col-sm-12.volver {
    color: #FFF;
    margin-bottom: 2%;
    -webkit-font-smoothing: antialiased;
}
.col-sm-12.volver a{
  color: #FFF;
  font-weight: 700;
  text-decoration: underline; 
}
.cupon-cont {
    white-space: nowrap;
}
  .cupon-img {
      display: inline-block;
      width: 60%;
      vertical-align: top;
  }
  .cupon-img img {
      width: 100%;
  }
  .cupon-info {
      width: 40%;
      display: inline-block;
      position: relative;
      white-space: normal;
      padding-left: 3%;
  }
  .cupon-info h6 {
      color: #FFF;
      font-size: 90px;
      line-height: 90px;
      padding: 0;
      margin: 0;
      display: inline-block;
      vertical-align: middle;
  }
  .procentaje {
      display: inline-block;
      vertical-align: middle;
  }
  .cupon-info h5 {
      color: #FFF;
      font-size: 25px;
      -webkit-font-smoothing: antialiased;
  } 
  .cupon-info h5 small {
      display: block;
      color: #d0d0d0;
      margin-top: 2%;
  }
  .cupon-info p {
    color: #fff;
    text-align: justify;
    line-height: 19px;
  }
  p.bono-de {
      font-size: 25px;
  } 
  .ganaste strong {
      font-size: 20px;
      display: block;
      margin-top: 5%;
      margin-bottom: 2%;
  }

/*ESTILOS PARA FORMULARIOS*/
*, *:before, *:after {
  box-sizing: border-box;
}

.form {
    padding: 30px;
    width: 60%;
    margin: 20px auto;
}
.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}
.tab-group:after {
  content: "";
  display: table;
  clear: both;
}
.tab-group li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: rgba(160, 179, 176, 0.25);
  color: #a0b3b0;
  font-size: 20px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}
.tab-group li a:hover {
  background: #179b77;
  color: #ffffff;
}
.tab-group .active a {
  background: #1ab188;
  color: #ffffff;
}

.form h1 {
    text-align: center;
    color: #ffffff;
    margin: 0 0 40px;
    font-size: 20px;
    font-weight: normal;
}
.form h5{
    font-size: 18px;
    color: #FFF;
    margin-bottom: 25px;
}

label {
  position: absolute;
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
  left: 13px;
  top: 5px;
  color: rgba(255, 255, 255, 0.8);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size: 16px;
  letter-spacing: 1px;
}
label .req {
  margin: 2px;
  color: rgba(255, 255, 255, 0.9);
}

label.active {
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
  left: 2px;
  font-size: 14px;
}
label.active .req {
  opacity: 0;
}

label.highlight {
  color: #ffffff;
}

input, textarea {
  font-size: 16px;
  display: block;
  width: 100%;
  line-height: 30px;
  padding: 5px 10px;
  background: #aa1617;
  border: 1px solid #ffffff;
  color: #ffffff;
  border-radius: 0;
  -webkit-transition: border-color 1.25s ease, box-shadow 1.25s ease;
  transition: border-color 1.25s ease, box-shadow 1.25s ease;
}

input:focus, textarea:focus {
  outline: 0;
  border-color: #FFF;
  background: #d01e25;
}

textarea {
  border: 2px solid #a0b3b0;
  resize: vertical;
}

.field-wrap {
  position: relative;
  margin-bottom: 25px;
}

.top-row:after {
  content: "";
  display: table;
  clear: both;
}
.top-row > div {
  float: left;
  width: 48%;
  margin-right: 4%;
}
.top-row > div:last-child {
  margin: 0;
}

.button {
    border: 0;
    outline: none;
    border-radius: 0;
    padding: 15px 0;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .1em;
    background: #fdb619;
    color: #b32021;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-appearance: none;
}
.button:hover, .button:focus {
  background: #ffda00;
}

.button-block {
  display: block;
  width: 100%;
}

.forgot {
  margin-top: -20px;
  text-align: right;
}
.u-customDropdown {
    position: relative;
    width: 100px;
    display: inline-block;
}
.u-customDropdown > select {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: transparent;
  line-height: 1;
  border: 0;
  border-radius: 0;
  -webkit-appearance: none;
  visibility: hidden;
  opacity: 0;
  z-index: 0;
}
.u-customDropdown .dropdown {
  position: relative;
  width: 100%;
}
.u-customDropdown .dropdown dd,
.u-customDropdown .dropdown dt,
.u-customDropdown .dropdown ul {
  margin: 0;
  padding: 0;
}
.u-customDropdown .dropdown dd {
  position: relative;
}
.u-customDropdown .dropdown dd ul {
  display: none;
  list-style: none;
  position: absolute;
  left: 0;
  top: -10px;
  width: 100%;
  max-height: 180px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0px 8px 15px 3px rgba(0, 0, 0, 0.2);
  z-index: 5;
  overflow: auto;
}
.u-customDropdown .dropdown dd ul li {
  background: rgba(255, 255, 255, 0.9);
}
.u-customDropdown .dropdown dd ul li a {
  display: block;
  padding: 5px 15px;
  color: #000;
  text-decoration: none;
}
.u-customDropdown .dropdown dd ul li a:hover {
  background: #f1f1f1;
}
.u-customDropdown .dropdown dd ul li:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.u-customDropdown .dropdown dd ul li:last-child a:hover {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.u-customDropdown .dropdown dd ul li.is-placeholder a {
  color: #ccc;
}
.u-customDropdown .dropdown dt a {
  display: block;
  position: relative;
  background: #aa1617;
  border: 1px solid #FFF;
  padding: 7px 0px 7px 10px;
  margin: 10px 0px;
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  z-index: 4;
}
.u-customDropdown .dropdown dt a.has-selection {
  color: #FFF;
}
.u-customDropdown .dropdown dt a:after {
  content: '\2195';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  right: 15px;
  z-index: 0;
}
.u-customDropdown .dropdown dt a span {
  cursor: pointer;
  display: block;
}
.u-customDropdown .dropdown span.value {
  display: none;
}
.u-customDropdown.almacenes{
    display: block;
    width: 100%;
}
.sep{
  width: 100%;
  height: auto;
}
.sep img{
  width: 100%;
  margin: o% auto;
}

.respuesta-form {
    width: 50%;
    margin: 5% auto;
    background: #d62027;
    border-radius: 15px;
    overflow: hidden;
    border: 1px solid white;
}
.form-tit-resp {
    width: 100%;
    color: #b32021;
    text-align: center;
    background: #fdb619;
    margin: 0%;
    padding: 5%;
}
.form-tit-resp h5 {
    font-size: 25px;
    margin: 0%;
    line-height: 20px;
}
.form-resp {
    color: #FFF;
    padding: 2%;
    text-align: center;
}
.form-resp p {
    -webkit-font-smoothing: antialiased;
}

/* SQUARED THREE */
.squaredThree {
    width: 25px;
    position: relative;
    display: inline-block;
}
.squaredInfo {
    display: inline-block;
    vertical-align: top;
    color: #FFF;
}
.squaredInfo a {
    display: block;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 12px;
}
.squaredThree label {
  cursor: pointer;
  position: absolute;
  width: 18px;
  height: 18px;
  top: -5px;
  left: 2px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);
  -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);
  box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);
  background: -webkit-linear-gradient(top, #222 0%, #45484d 100%);
  background: -moz-linear-gradient(top, #222 0%, #45484d 100%);
  background: -o-linear-gradient(top, #222 0%, #45484d 100%);
  background: -ms-linear-gradient(top, #222 0%, #45484d 100%);
  background: linear-gradient(top, #222 0%, #45484d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222', endColorstr='#45484d',GradientType=0 );
}

.squaredThree label:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  content: '';
  position: absolute;
  width: 9px;
  height: 5px;
  background: transparent;
  top: 4px;
  left: 4px;
  border: 3px solid #fcfff4;
  border-top: none;
  border-right: none;

  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.squaredThree label:hover::after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
  opacity: 0.3;
}

.squaredThree input[type=checkbox]:checked + label:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
}

.logos-cont {
  display: block;
  width: 100%;
  position: relative;
  padding-bottom: 2%;
}
.logo-pat {
    display: inline-block;
    vertical-align: middle;
    width: 10%;
    margin: 0% 1%;
    padding-top: 1%;
}
.logo-pat img {
    width: 100%;
}
@media only screen and (max-width : 992px) {
    .logo {
        width: 35%;
    }
    .logo-flamingo {
      max-width: 130px;
    }
    .banner-fondo {
        background: url(img/header-fondo-diagonal-tablets.png) center top no-repeat;
        background-size: 100%;
    }
    .cat-prod{
        width: 20%;
        margin: 2%;
    }
    h4, .h4 {
    font-size: 14px;
    }
    .form {
        padding: 10px;
        width: 100%;
    }
    .cupon-img {
        display: block;
        width: 100%;
    }    
    .cupon-info {
        display: block;
        width: 100%;
        padding-left: 0%;
    }
    .cupon-info h6 {
        font-size: 80px;
        line-height: 80px;
    }
    .procentaje {
        top: 15%;
        left: 16%;
        width: 50px;
    }
    .procentaje img{
      width: 100%;
    } 
    p.bono-de {
        font-size: 20px;
        margin-top: 2%;
    }
    .ganaste strong {
        margin-top: 1%;
        margin-bottom: 1%;
    }        
}
@media only screen and (max-width : 768px) {
    .logo {
        width: 35%;
    }
    .banner-fondo {
        background: url(img/header-fondo-diagonal-movil.png) center top no-repeat;
        background-size: 100%;
    }
    .dropdown {
        width: 50%;
        margin: 10% auto 5% auto;
    }
    .cat-prod{
        width: 18%;
        margin: 2%;
    }
    .respuesta-form{
      width: 80%;
    }   
}

@media only screen and (max-width : 650px) {
    .logo {
        width: 60%;
    }
    .logo-flamingo {
      display: none;
    }    
    .dropdown {
        width: 80%;
        margin: 10% auto;
    }
    .cat-prod , .prod-prod {
        width: 100%;
        margin: 2% auto;
    }
    .prod-prod{
        text-align: center;
    }
    .prod-prod .prod-img {
        width: 30%;
        display: inline-block;
        vertical-align: middle;
    }    
    .prod-info {
        display: inline-block;
        vertical-align: middle;
        margin: 0%;
        text-align: left;
        margin-left: 2%;
    }
    .prod-info h4{
        margin-top: 0%;
    }
    .form {
        padding: 2px;
        width: 100%;
        box-shadow: none;
    }
    .form h1 {
        font-size: 15px;
    }
    .top-row > div {
        float: none;
        width: 100%;
    }
    .procentaje {
        top: 45px;
        left: 115px;
        width: 45px;
    }
    .top-row {
        margin-bottom: 5%;
    }
    .cupon-info h6 {
        font-size: 60px;
        line-height: 60px;
    }    
}

@media only screen and (max-width : 420px) {
  .prod-prod .prod-img {
      width: 20%;
  }
  .prod-info h4 {
      margin-bottom: 1%;
  }
}
