<div class="post-recent">
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
    <div class="row">
    <img alt="" class="img-responsive" src="/website/image/ir.attachment/29729_72c7f96/datas" style="animation-play-state: paused; transition: none"/>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8">
    <h2 style="color: rgb(135, 135, 135); font-weight: bold; padding: 0px; background-color: rgb(255, 255, 255); text-align: center;">
    <strong>¡UN CUMPLEAÑOS EXTRAORDINARIO!</strong>
    </h2>
    <p>Celebremos la <strong>felicidad </strong>de pertenecer al equipo GVB...</p>
    <p>Cumplimos <strong>27 años</strong> de una historia muy linda que quiere perdurar en el tiempo, es momento de continuar haciendo que las cosas que soñamos<strong> ¡sucedan! </strong>Por eso, te invitamos a regalarle más pasión y entrega en el día a día de tu trabajo. </p>
    <p style="text-align: center;">¡Felices 27 años GVB, que sean muchos más! </p>
  </div>
</div>

<div class="post-recent">
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
    <img alt="" class="img-responsive" src="/website/image/ir.attachment/29730_0b178d2/datas" style="animation-play-state: paused; transition: none"/>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8">
    <h2 style="color: rgb(135, 135, 135); font-weight: bold; padding: 0px; background-color: rgb(255, 255, 255); text-align: center;">¡FELICIDAD COMPARTIDA!</h2>
    <p>Nos encanta <strong>celebrar</strong> las alegrías del equipo GVB, por eso les contamos que nuestra Gerente Comercial <strong>Tatiana Vallejo</strong>, fue premiada por la Asamble de Antioquia y el Concejo de Medellín en la cuarta versión del evento "10 Periodistas con Calidad Humana y Profesional". </p>
    <p>Su trayectoria, <strong>excelente</strong> desempeño en las relaciones públicas y gestión de las comunicaciones, la hicieron acreedora de este galardón. </p>
    <p style="text-align: center;">
    <strong>¡Muchas</strong>
    <strong> felicidades</strong>
    <strong> para ella, compartimos su éxito como si fuera propio!</strong>
    </p>
  </div>  
</div>

<div class="post-recent">
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
    <div class="row">
    <img alt="" class="img-responsive" src="/website/image/ir.attachment/29731_94534e3/datas" style="animation-play-state: paused; transition: none"/>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8">
    <h2 style="color: rgb(135, 135, 135); font-weight: bold; padding: 0px; background-color: rgb(255, 255, 255); text-align: center;">¡GRACIAS POR TU ESPERA!</h2>
    <p>Sabemos que GVB cuenta con un equipo incondicional, por eso les queremos <strong>agradecer</strong> por la comprensión y paciencia con el último pago de la nómina. </p>
    <p>Queremos contarte que este percance ya fue <strong>solucionado</strong> en su totalidad</p>
      <a href="/page/post3" style="display:none">
      <span class="btn btn-danger btn-inlineblock see-more">Ver mÁs</span>
      </a>
  </div>
</div>
